.boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 80px 100px;
}
.box{
   background-color: ghostwhite;
    border-radius: 5px;
    text-align: center;
    padding: 6px 3px;
}
.box:hover{
    opacity: 0.7;
}

.box1{
    color: azure;
    background-color: black;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    padding: 6px 3px;
}
.box1:hover{
    opacity: 0.7;
}
img{
    width: 30px
}
img:hover{
    opacity: 0.8;
}

.filtres{
    display: flex;
}
.text-filtre{
    
    text-align: center;
    padding: 6px 3px;
}
a{
    text-decoration: none;
    color: black;
}

    
    
